.header{
    border: none;
}
.logo{

}
.img0{
    margin-top: 2px;
    margin-left: 262px;
}
.call0{
    margin-left: 937px;
    margin-top: -105px;
    width: 54px;
}
.text{

}
.text0{
  color: #0d3f5c;
  font-size: 18px;
  margin-left: 1000px;
  margin-top: -100;
}
.num0{
    font-size: 20px;
    margin-left: 1000px;
    margin-top: -6;
    color: #0c83ff;
}
.email0
{
    margin-left: 1139px;
    margin-top: -69px;
    width: 54px;
}
.text1{

}
.text2{
    color: #0d3f5c;
    margin-left: 1202px;
    margin-top: -64;
    font-size: 18px;
}
.text3{
    font-size: 20px;  
    color: #0c83ff; 
    margin-top: -6; 
    margin-left: 1202px;
}
.line{
    width: 1686px;
    height: 48px;
    background-color:#d49d3f ;
    margin-top:59px ;
    margin-left: -8;
    text-decoration: none;
    display: flex;
}

.text4{
    margin-left: 16%;
    font-size: 16px;
    padding-bottom: 6px;
    color:white;
    
}
.btext4{
    background: #0c83ff;
    width: 70px;
    margin-left: 16%;
    padding-top: 7px;
    height: 41px; 

}
.texts0{
    display: flex;
    gap: 31px;
    margin-left: -13px;
    color: white;
    margin-top:17px;
}
li{
    text-decoration: #1a63b1;
    display: flex;
    font-size: 16px;
}
.front{
    width: 100%;
    height: auto;
}
.page2{
    width: 1688;
    background-color:   #12415b;
    height: 560px;
    margin-left: -10;
    display: flex;
    
}
.head1{
    margin-left: 268px;
    color:  #ffffff;
    font-size: 26px;
    margin-top: 75px;
}

.line1{
    width: 378px;
    background-color:  #ffffff;
    height: 1px;
    margin-top: -447;
    margin-left: 257px;
}
.line2{
    width: 378px;
    background-color:  #ffffff;
    height: 1px;
    margin-top: -1;
    margin-left: 662px;
}
.line3{
    width: 378px;
    background-color:  #ffffff;
    height: 1px;
    margin-top: -1;
    margin-left: 1069px;
}
.p1{
    font-size: 19px;
    margin-left: 282px;
    color: #cdcdcd;
    margin-top: 21px;
}
.p2{
    color: #cdcdcd;
    margin-top: -149px;
    font-size: 19px;
    margin-left: 691px;
}
.logos{
    margin-left: 1067px;
    margin-top: -392px;
    width: 126px;

}
.page3{
    height:22px;
    width: 1688px;
    background-color: white;
     margin-top: 41px;
}
.trade{

margin-top: 65px;
text-align: center;
font-size: 18px;

}
.line4{
    width: 142px;
    background-color:  #0e0c0c;
    height: 1px;
    margin-top: -4;
    margin-left: 747px;
}
.line5{
    background-color:  #0e0c0c;
    height: 1px;
    margin-top: -2;
    width: 85px;
    margin-left: 986px;
}